<div class="flex column center shopping-cart">
  <span class="shopping-cart-icon ml-15"
    ><i class="fas fa-shopping-cart"></i
  ></span>
  <div class="cart-card"></div>
</div>

<script>
  var shoppingcartBtn = document.querySelector(".shopping-cart");
  var cart = document.querySelector(".cart-card");

  shoppingcartBtn.onclick = () => {
    console.log("wtttfffff");
    cart.classList.toggle("hide-cart");
  };
</script>
